.summary {
    font-size: 17px;
    font-weight: 400;
    color: #817a7a;
  }
  .example-heading{
    margin-top: 30px;
    margin-top: 20px;
    font-size: 18px;
    color: rgb(140 140 185);
  }
  .table{
    margin-top: 20px;
    width: 100%;
  }
  .first-table{
    width: 80%;
    height: 100px;
    padding: 10px;
  }
  .table-data{
    text-align: center;
  }
  .form{
    margin-top: 20px;
  }
  .example-form{
    display: flex;
    gap: 20px;
    
    // align-items: center;
  }
  .update-form{
    margin-top: 20px;
    display: flex;
    gap: 10px;
    justify-content: venter;
    align-items: center;
  }
