<div class="summary">
  Angular Signals is a system that granularly tracks how and where your state is
  used throughout an application, allowing the framework to optimize rendering
  updates. A signal is a wrapper around a value that notifies interested
  consumers when that value changes. Signals can contain any value, from simple
  primitives to complex data structures.<br />
  You read a signal's value by calling its getter function, which allows Angular
  to track where the signal is used.
  <br />
  Signals may be either writable or read-only.
</div>

 <!-- signal set and computed -->
<div class="example-heading">
    <strong>
        Simple use of Signal set and computed----------
    </strong>
</div>

<div class="form">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>First Name</mat-label>
      <input matInput [value]="firstName()" #fname/>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="changeFirstName(fname.value)">Change</button>
    
    <mat-form-field class="example-full-width">
      <mat-label>Last Name</mat-label>
      <input matInput [value]="lastName()" #lName/>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="changeSecondName(lName.value)">Change</button>
  </form>
</div>

<div class="table">
  <table class="first-table">
    <ng-container>
      <thead>
        <tr>
          <th >First Name</th>
          <th >Last Name</th>
          <th >Full Name</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <td class="table-data">{{firstName()}}</td>
          <td class="table-data">{{lastName()}}</td>
          <td class="table-data">{{fullName()}}</td>
        </tr>
      </tbody>
    </ng-container>
  </table>
</div>

<!-- Signal Update -->

<div class="example-heading">
    <strong>
        Simple use of Signal update----------
    </strong>
</div>

<div class="update-form">
    <button mat-raised-button color="primary" (click)="increaseQuantity()">+</button>
    {{qty()}}
    <button mat-raised-button color="accent" (click)="decreaseQuantity()">-</button>
</div>

<!-- Signal Mutate -->
<div class="example-heading">
    <strong>
        Simple use of Signal Mutate----------
    </strong>
</div>


<div class="table">
<table mat-table [dataSource]="dataSource" >
  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column -->
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="weight">
    <th mat-header-cell *matHeaderCellDef> Weight </th>
    <td mat-cell *matCellDef="let element"> {{element.weight}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="symbol">
    <th mat-header-cell *matHeaderCellDef> Symbol </th>
    <td mat-cell *matCellDef="let element"> {{element.symbol}} </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
</div>

<div class="form">
  <form class="example-form">
    <mat-form-field class="example-full-width">
      <mat-label>Favorite food</mat-label>
      <input matInput placeholder="Ex. Pizza" value="Sushi">
    </mat-form-field>
  
    <mat-form-field class="example-full-width">
      <mat-label>Leave a comment</mat-label>
      <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
    </mat-form-field>
  </form>
</div>


