.header-image{
    width: 100%;
    img{
        width: 100%;
        height: 200px;
    }
    .header-title{
        height: 50px;
        background:#ecbbf5;
        display: flex;
        justify-content: center;
        align-items: center;
        .text{
            strong{
                font-size: 25px;
                color: #7b1f97
            }
        }
        

    }
}