
<div class="header-image">
  <img src="/assets/angular.png" alt="banner" class="img-responsive" />
  <div class="header-title">
    <div class="text">
      <strong>Welcome To Angular Renaissance</strong>
    </div>
  </div>
</div>

