<mat-card >
    <mat-card-footer>

        <div class="footer-title">
            <div class="text">
                <strong>© 2024 Angular 17. use reference  <a href="https://angular.dev/">angular.dev</a> </strong>
            </div> 
        </div>

    </mat-card-footer>
  </mat-card>
