.footer-title{
    height: 50px;
    background:#ecbbf5;
    display: flex;
    justify-content: center;
    align-items: center;
    .text{
        strong{
            font-size: 20px;
            color: #7b1f97
        }
    }
    

}