<div class="summary">
  Built-in control flow is introduced in angular 17 as a new features.This new
  features enhance better experience od developer.In previous when developer
  uses *ngIf,*ngFor, & *ngSwitch ,have to handle many unwanted
  challenges.so,this *ngIf,*ngFor, & *ngSwitch will be remove in Angular 17
</div>
<div class="header">
  <strong> If block conditionals Demo</strong>
</div>
<div class="content">
  <div class="question">
    <p>Are you Angular Developer ?</p>
  </div>
  <div class="confirm-button">
    <button mat-raised-button color="primary" (click)="yesButtonClick()">
      Yes
    </button>
    <button mat-raised-button color="accent" (click)="noButtonClick()">
      No
    </button>
  </div>
</div>

<div class="question-response">
  @if(isAngularDeveloper){Congratulations!! Angular 17 is released ,to get more details visit <a href="https://angular.dev/guide/templates/control-flow#if-block-conditionals">control-flow</a>}@else if(isAngularDeveloper
  === false){ Please try it once by visiting <a href="https://angular.dev/">angular.dev</a>. }
</div>
