.summary {
  font-size: 17px;
  font-weight: 400;
  color: #817a7a;
}
.header {
  margin-top: 20px;
  font-size: 18px;
  color: rgb(140 140 185);
}
.content {
  .question {
    margin-top: 20px;
    font-size: 18px;
    font-weight: 600;
    color: #aba4a4;
  }
  .confirm-button {
    display: flex;
    gap: 10px;
  }
}

.question-response {
  margin-top: 20px;
  font-size: 17px;
  font-weight: 400;
  color: #817a7a;
}
