<div class="dashboard">
<div class="dashboard-img">
    <div class="image">
        <img src="./assets/dshboardcontent.png" alt="Dashboard-Image" />
    </div>
</div>
<div class="get-start">
    <button mat-raised-button color="primary" class="get-start-button" (click)="changeRoute()" >Get Started</button>
</div>
</div>