<mat-grid-list cols="2" rowHeight="2:1">

  <mat-grid-tile class="built-in-control-sysytem">
    <mat-card class="card">
      <mat-card-content>
        <strong class="heading">Built-in control flow</strong>
        <div class="inner-content">
          <app-built-in-control-sys></app-built-in-control-sys>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-content>
        <strong class="heading">Signal</strong>
        <div class="inner-content">
          <app-signal></app-signal>
        </div>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-content>
        <strong class="heading">Deferrable Views</strong>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

  <mat-grid-tile>
    <mat-card class="card">
      <mat-card-content>
        <strong class="heading">Standalone</strong>
      </mat-card-content>
    </mat-card>
  </mat-grid-tile>

</mat-grid-list>
